body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

header {
    background-color: #180161;
    color: #fff;
    padding: 10px 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #EB3678;
}

.posts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.post {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: auto;
    max-width: fit-content;
    width: 100%;
    position: relative;
}

.post h2 {
    margin: 0 0 10px;
}

.edit-form {
    position: absolute;
    top: 50px;
    left: 70%;
    transform: translateX(20px);
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.edit-form.show {
    display: block;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 8px 10px;
    margin: 1px;
    background: #4F1787;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #EB3678;
}

.create-post {
    position: sticky;
    display: absolute;
    width: 300px;
    margin-top: 50%;
    margin-left: 900px;

}

footer {
    background-color: #180161;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}
